body {
}
.circle-container {
	display: inline-block;
	text-align: center;
}
.logo {
	justify-content: center;
	display: flex;
	height: 5px;
}

.circle {
	display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 200px 200px;
	/* padding-top: 30%; */
	margin: auto auto;
}

.main-circle-js {
	/* pies */
	position: relative;
	height: 100%;
	width: 100%;
	border: 5px solid rgba(0, 0, 0, 1);
	z-index: -1;
}

/* THE PIES 'SIMON' */
.blue {
	border-radius: 180px 0 0 0;
	background-color: blue;
}
.red {
	border-radius: 0 180px 0 0;
	background-color: red;
}

.yellow {
	border-radius: 0 0 0 180px;
	background-color: yellow;
}

.green {
	border-radius: 0 0 180px 0;
	background-color: greenyellow;
}

.inner-simon {
	font-size: 20px;
	position: relative;
	bottom: -260px;
	padding: 50px 30px;
	border-radius: 60px;
	background-color: black;
	color: honeydew;
	display: inline-block;
}
