body {
	text-align: center;
	background: #1b1b1b;
	/* padding: 0 20%; */
	position: relative;
	z-index: -1;
}
#logo {
	justify-content: center;
	display: flex;
	height: 5px;
	margin: auto auto;
	color: honeydew;
}
.score-js {
	display: inline-block;
	font-size: 25px;
	padding: 0px 15px;
	border-radius: 15px;
	margin: 20px 0 -1px 60%;
	color: honeydew;
}
.round-js {
	display: flex;
	background-color: rgb(253, 122, 0);
	font-size: 25px;
	padding: 0px -10px 0 0;
	width: 40%;
	justify-content: flex-end;
	margin: 60px 0 -20px 0;
	border: none;
}
.start-button {
	/* display: inline-block; */
	background: rgb(253, 122, 0);
	font-size: 25px;
	padding: 0px 15px;
	border-radius: 15px;
	margin: -5px 0 0 70%;
	border: none;
	z-index: 999;
}

.foot {
	/* justify-content: center; */
	display: flex;
	flex-direction: row;
}
#message {
	display: flex;
	justify-content: flex-end;
	margin: 115px 0 0 0;
	padding: 0 20px;
	font-weight: bold;
	font-size: 25px;
	flex: 2;
	color: honeydew;
	opacity: 0;
}
.next-round {
	/* display: flex; */
	justify-content: center;
	flex: 1;
	margin: 115px 0 0 0;
	background-color: black;
	color: white;
	height: 30px;
	border-radius: 20px;
	border: none;
	opacity: 0;
}
.circle-container {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: -48px 10%;
	z-index: 1;
}

.circle {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 -25px;
	z-index: -1;
}

.main-circle-js {
	/* pies */
	position: relative;
	height: 75%;
	width: 75%;
	border: 5px solid rgba(0, 0, 0, 1);
	z-index: 999;
	margin: -1px;
}

@media (min-width: 800px) {
	body {
		padding: 0 20%;
	}
}

/* THE PIES 'SIMON' */
.blue {
	/* z-index: 999; */
	width: 150px;
	height: 150px;
	border-radius: 180px 0 0 0;
	background-color: blue;
}
.onBlue {
	box-shadow: 10px 5px 40px rgb(43, 97, 245);
	border: 5px solid rgb(42, 71, 236, 0.7);
}
.red {
	width: 150px;
	height: 150px;
	border-radius: 0 180px 0 0;

	background-color: rgb(245, 43, 43);

	/* radial gradient (white in the middle ) */
	/* set border to transparent on click*/
	/* have two classes  */
}
.onRed {
	box-shadow: 10px 5px 40px rgb(245, 43, 43);
	border: 5px solid rgba(241, 83, 62, 0.7);
}

.yellow {
	width: 150px;
	height: 150px;
	border-radius: 0 0 0 180px;
	background-color: yellow;
}
.onYellow {
	box-shadow: 10px 5px 40px rgb(245, 242, 43);
	border: 5px solid rgba(243, 225, 60, 0.7);
}
.green {
	width: 150px;
	height: 150px;
	border-radius: 0 0 180px 0;
	background-color: greenyellow;
}
.onGreen {
	box-shadow: 10px 5px 40px rgb(84, 245, 43);
	border: 5px solid rgba(84, 245, 43, 0.7);
}

.inner-simon {
	font-size: 20px;
	position: relative;
	bottom: -13.5rem;
	margin: 0 10% 0 10%;
	font-weight: bold;
	padding: 50px 30px;
	border-radius: 60px;
	background-color: black;
	color: honeydew;
	display: inline-block;
}
